body {
  margin: 0;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

h1.ubuntu {
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: #fff;
}

.active {
  border-bottom: 5px solid #0b5ed7;
  font-weight: bold !important;
  color: #0b5ed7 !important;
}
  